@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Koulen', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bg-transition 15s ease infinite;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;

}

h1:hover {
    letter-spacing: 6px;
    transition: 0.5s;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

h2:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(.16, .52, .61, .62);
}

a:hover {
    color: #e73c7e;
    background-color: white;
}

@keyframes bg-transition {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}