body {
    background-color: #ccc;
    font-family: Verdana;
    margin: auto;
    width: 900px;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
   text-decoration: line-through; 
   color: #505050;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #FFF;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
}

.contact_list {
    list-style-type: none;
    padding-left:15px;
}

.contact_list li a {
    text-decoration: none;
}